.period-display {
    width: 15%;
    margin: 15px auto;
    font-size: 36px;

}

.period-number {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    background-color: black;
    color: white !important;
}