@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

.score-display {
    font-size: 60px;
    font-family: Coda, sans-serif;
}

.score-button {
    padding: 5px;
    margin: 5px;
}