@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.clock {
    font-size: 76px;
    position: flex;
    width: auto;
    margin: 10px auto;
}

.time-heading {
    width: auto;
    font-size: 36px;
}
.timer-display {
    width: auto;
    margin: auto;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: Share Tech Mono;
}